@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
   
}
.playerChat-container{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: green;
    font-family:'Raleway', sans-serif;
    overflow: hidden;
}
.player-container{
    text-align: center;
    flex: 1.4;
    background-color: blue;
}
#player{
    padding-top: 5%;
    overflow: hidden;
}

.player-controller{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 50px;
}
button{
    font-family:'Raleway', sans-serif;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 50px;
}
button:hover{
    transform: scale(1.11);
    color: lightslategray;
}

.live-user-container{
    
    background-color: red;
    text-align: center;
    min-height: 500px;
    font-family:'Raleway', sans-serif;

    
    
}
.chat-container {
    flex: 1;
    font-family:'Raleway', sans-serif;
    max-width: 1100px;
    min-width: 300px;
    margin: 5px;
    overflow: hidden;
    background-color: yellow;
    position: relative;
    
}
.chat-messages {
    padding: 20px;
   background-color: purple;
    overflow-y: scroll;
    
}

/*div for each individual message*/
.chat-messages .message{
    padding-left: 5px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin-bottom: 2px;
    line-height: 1px;
    background-color: var(--light-color);
    background-color: red;
	border-radius: 5px;
}


.chat-box{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1% 2%;
    background-color: greenyellow;
}

.chat-box form{
    
    display: flex;
    width: 100%;
}

.chat-box input[type='text'] {
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
	font-size: 16px;
	padding: 2px;
	height: 10%;
    flex: 1;
    background-color: white;
    
}
@media all and (max-width: 1000px){
    
    .player-container{
        background-color: green;
    }

}
@media all and (max-width: 800px){
    
    .player-container{
        background-color: green;
    }
    
    .chat-container {
        display: none;
    }
}


.login-container{
    margin-top: 100px;
    background-color: white;
    text-align: center;
    width: 100%;
    font-family:'Raleway', sans-serif;
}

.username-container{
    margin-left: 35%;
    width: 40%;
   
}
.enter-info{
    display: inline-block;
    padding-left: 3%;
    left: 30%;
}
.username-label{
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}
.room-container{
    margin-left: 35%;
    width: 40%;
}
.room-label{
    font-size: 20px;
    display: inline-block;
    margin-right: 60px;
}
.join-room-btn-container{
    width: 40%;
    margin-left: 35%;
}
